#lower-container {
	position: absolute;
	right: 0;
	bottom: 0;
	/* border: green 1px solid; */
	margin: 0.5rem;
	display: flex;
	align-items: center;
}

.lower-button {
	background: none;
	border: none;
	width: 2.3rem;
	cursor: pointer;
}

.lower-button:hover .svg-icon {
	fill: #aaa;
}

.lower-button {
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltiptext {
	visibility: hidden;
	opacity: 0;
	width: 6rem;
	background-color: rgba(29, 29, 29, 1);
	color: #aaa;
	text-align: center;
	border-radius: 5px;
	padding: 0.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	transition: opacity 0.2s;

	/* Position the tooltip */
	position: absolute;
	bottom: 2rem;
	right: 0;
	z-index: 1;
	line-height: 1.3;
}

.lower-button:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.copied {
	visibility: visible;
	border: #ddd 1px solid;
	color: #ddd;
	opacity: 1;
}

.svg-icon {
	fill: #666;
}