@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
	--tp-base-background-color: hsla(0, 0%, 0%, 1.00);
	--tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
	--tp-button-background-color: hsla(0, 0%, 70%, 1.00);
	--tp-button-background-color-active: hsla(0, 0%, 85%, 1.00);
	--tp-button-background-color-focus: hsla(0, 0%, 80%, 1.00);
	--tp-button-background-color-hover: hsla(0, 0%, 75%, 1.00);
	--tp-button-foreground-color: hsla(0, 0%, 10%, 1.00);
	--tp-container-background-color: hsla(0, 0%, 10%, 1.00);
	--tp-container-background-color-active: hsla(0, 0%, 25%, 1.00);
	--tp-container-background-color-focus: hsla(0, 0%, 20%, 1.00);
	--tp-container-background-color-hover: hsla(0, 0%, 15%, 1.00);
	--tp-container-foreground-color: hsla(0, 0%, 80%, 1.00);
	--tp-groove-foreground-color: hsla(0, 0%, 10%, 1.00);
	--tp-input-background-color: hsla(0, 0%, 10%, 1.00);
	--tp-input-background-color-active: hsla(0, 0%, 25%, 1.00);
	--tp-input-background-color-focus: hsla(0, 0%, 20%, 1.00);
	--tp-input-background-color-hover: hsla(0, 0%, 15%, 1.00);
	--tp-input-foreground-color: hsla(0, 0%, 70%, 1.00);
	--tp-label-foreground-color: hsla(0, 0%, 70%, 1.00);
	--tp-monitor-background-color: hsla(0, 0%, 8%, 1.00);
	--tp-monitor-foreground-color: hsla(0, 0%, 60%, 1.00);
}


* {
	font-family: "Nunito", Helvetica, sans-serif;
}

html,
body {
	overflow: hidden;
}

html,
body,
#app,
canvas {
	margin: 0;
	padding: 0;
}